@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Genos', sans-serif;
		font-family: 'Manrope' sans-serif;
}

html {
		scroll-behavior: smooth;
}

#inicio {
		background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://64.media.tumblr.com/c26742bfb56f65cde060dacb0edeb72c/tumblr_nlptn4t5Ug1relaado2_400.gifv");
		background-size: cover;
		background-position: center;
		height: 100vh;
		color: whitesmoke;
}

#inicio .contenido header {
		background-color: rgba(0, 0, 0, .5);
		color: violet;
		position: fixed;
		width: 100%;
		z-index: 100;
		top: 0;
		font-size: 19px;
}

#inicio .contenido header .contenido-header {
		max-width: 1100px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		align-items: center;
		justify-content: center;
}

#inicio .contenido header .contenido-header nav ul {
		list-style: none;
		display: flex;
		align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
		text-decoration: none;
		color: violet;
		margin: 0 19px;
		font-weight: 500;
		transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
		color: whitesmoke;
}

#inicio .contenido .presentacion {
		max-width: 1100px;
		height: 100vh;
		margin: auto;
		color: whitesmoke;
		columns: whitesmoke;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
		font-size: 70px;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 5px;
}

#inicio .contenido .presentacion p {
		font-size: 25px;
		margin-bottom: 25px;
		text-align: center;
}

#articulo {
		margin-right: 60px;
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 40px;
}

#articulo .articulo .tituloseccion {
		font-size: 50px;
		color: #943194;
}

#articulo .articulo p {
		font-size: 18px;
		margin-bottom: 20px;
		margin-top: 25px;
}

#articulo .articulo a {
		display: inline-block;
		text-decoration: none;
		border-radius: 8px;
		border: 2px solid #C043D7;
		padding: 7px 9px;
		transition: .5s;
		font-weight: 500;
		margin-top: 10px;
}

#articulo .articulo a:hover {
		background-color: #C043D7;
		color: whitesmoke;
}

.autores {
		margin-right: 60px;
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 40px;
}

.autores h4 {
		color: dimgrey;
		margin-top: 40px;
		margin-bottom: -5px;
		font-size: 18px;
}

.autores .tituloautores {
		color: dimgrey;
		font-size: 35px;
		margin-bottom: 20px;
}

.autores p {
		font-size: 18px;
}

.autores .img {
		margin-top: 30px;
}

#proyecto {
		margin-right: 60px;
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 40px;
}

#proyecto .proyecto .tituloseccion {
		font-size: 50px;
		color: #943194;
}

#proyecto .proyecto p {
		font-size: 18px;
		margin-bottom: 20px;
		margin-top: 25px;
}

#proyecto .proyecto a {
		display: inline-block;
		text-decoration: none;
		border-radius: 8px;
		border: 2px solid #C043D7;
		padding: 7px 9px;
		transition: .5s;
		font-weight: 500;
		margin-top: 10px;
}

#proyecto .proyecto a:hover {
		background-color: #C043D7;
		color: whitesmoke;
}

.autora {
		margin-right: 60px;
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 40px;
}

.autora h4 {
		color: dimgrey;
		margin-top: 40px;
		margin-bottom: -5px;
		font-size: 18px;
}

.autora .tituloautora {
		color: dimgrey;
		font-size: 35px;
		margin-bottom: 20px;
}

.autora p {
		font-size: 18px;
}

.autora .img {
		margin-top: 30px;
}

#vinculo	.vinculos 	.titulovinculo{
	color: dimgrey;
		margin-right: 60px;
		margin-left: 60px;
		margin-top: 20px;
		margin-bottom: 10px;
}
#vinculo .vinculos p {
		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 0px;
		margin-left: 60px;
}
#vinculo .vinculos h3 {
	color: #943194;
		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 60px;
}

#bibliografia .biblio a {
		display: inline-block;
		text-decoration: none;
		border-radius: 8px;
		border: 2px solid #C043D7;
		padding: 7px 9px;
		transition: .5s;
		font-weight: 500;
		margin-top: 10px;
		
}
#bibliografia .biblio a:hover {
		background-color: #C043D7;
		color: whitesmoke;
}
#bibliografia .biblio a {
		margin-left: 60px;
}

#nosotros{
	width: 90%;
	height: 90%;
	background:#943194;
	margin:5% auto;
	padding: 20px;
	border-radius: 10px;

}

#nosotros	.inf	.tituloseccion{
	text-align: center;
	color: black;
}




